@import "./../../scss/variables";
@import "./../../scss/mixins/breakpoints";
@import "./../../scss/mixins/mixins";

.chats {
  display: grid;
  grid-template-columns: 3fr 9fr;
  //grid-template-columns: ;
  padding: 12px;
  gap: 12px;


  @include media-breakpoint-up(md) {
    //padding: 24px;
  }

}

.participants {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-radius: 12px;
  background: $bg1;
}

.messages {
  padding: 12px;
  margin: 0;
  list-style-type: none;
  border-radius: 12px;
  background: $bg1;
}