@import "../node_modules/normalize.css/normalize.css";
@import "./scss/mixins/breakpoints";
@import "./scss/mixins/mixins";
@import "scss/variables";
@import "scss/global";

.App {
  background: $bg1;
}


.footer {
  height: 40px;
  background: $bg1;
  grid-area: footer;
  margin-top: 12px;
}
